{%- assign price_max = settings.free_delivery_price | times:100 -%}
{%- assign price = price_max | minus: cart.total_price -%}
<div class="free-delivery-bar__toolbar body3" style="--length:{{ cart.total_price }};--max-length:{{ price_max }};">
  {%- if price < 0 -%}
  {%- render "icon-check" -%}
  <span>{{ "general.free_shipping.free_shipping_html" | t }}</span>
  {%- else -%}
<svg class="theme-icon free_shipping_icon" width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7.25002 14.7505C7.25002 15.1483 7.09198 15.5298 6.81068 15.8111C6.52937 16.0924 6.14784 16.2505 5.75002 16.2505C5.35219 16.2505 4.97066 16.0924 4.68936 15.8111C4.40805 15.5298 4.25002 15.1483 4.25002 14.7505M7.25002 14.7505C7.25002 14.3527 7.09198 13.9711 6.81068 13.6898C6.52937 13.4085 6.14784 13.2505 5.75002 13.2505C5.35219 13.2505 4.97066 13.4085 4.68936 13.6898C4.40805 13.9711 4.25002 14.3527 4.25002 14.7505M7.25002 14.7505H13.25M4.25002 14.7505H2.37502C2.07665 14.7505 1.7905 14.632 1.57952 14.421C1.36855 14.21 1.25002 13.9238 1.25002 13.6255V10.2505M13.25 14.7505H15.5M13.25 14.7505V10.2505M1.25002 10.2505V2.61548C1.24843 2.34165 1.34848 2.07696 1.53081 1.87265C1.71313 1.66835 1.96477 1.53894 2.23702 1.50948C5.57006 1.16351 8.92997 1.16351 12.263 1.50948C12.828 1.56748 13.25 2.04748 13.25 2.61548V3.57348M1.25002 10.2505H13.25M18.5 14.7505C18.5 15.1483 18.342 15.5298 18.0607 15.8111C17.7794 16.0924 17.3978 16.2505 17 16.2505C16.6022 16.2505 16.2207 16.0924 15.9394 15.8111C15.6581 15.5298 15.5 15.1483 15.5 14.7505M18.5 14.7505C18.5 14.3527 18.342 13.9711 18.0607 13.6898C17.7794 13.4085 17.3978 13.2505 17 13.2505C16.6022 13.2505 16.2207 13.4085 15.9394 13.6898C15.6581 13.9711 15.5 14.3527 15.5 14.7505M18.5 14.7505H19.625C20.246 14.7505 20.754 14.2465 20.715 13.6265C20.5141 10.3241 19.4019 7.14204 17.502 4.43348C17.3211 4.17976 17.0848 3.9705 16.8111 3.82151C16.5373 3.67252 16.2333 3.58771 15.922 3.57348H13.25M13.25 3.57348V10.2505" stroke="var(--color-base)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" style="fill: transparent;"/>
</svg>
  {%- assign price = price | money -%}
  <span>{{ "general.free_shipping.normal_html" | t:price:price }}</span>
  {%- endif -%}
</div>