.autoship-collection .collection_description *{
      color: #fff;
}
.autoship-collection .text-orange{
        color: #FC4F02;
}
.autoship-collection .collection_description h1{
      margin-top: 0;
      font-size: 52px;
      margin-bottom: 10px;
}
.autoship-collection .autoship-reviews{
      background-color: #f4f4f4;
  border-radius: 5px;
}
.autoship-collection .autoship-reviews .free-text-search{
    width: 100%!important;
}
.autoship-collection .autoship-reviews .free-text-search-input{
     background-color: #fff;
}
.autoship-collection .autoship-reviews .yotpo-regular-box{
    width: auto!important;
    margin: 0 10px!important;
    background: transparent!important;
    padding: 25px 0 22px!important;
    border-top: 1px solid #e3e3e3!important;
      float: none!important;
}
.autoship-collection .autoship-reviews .yotpo-regular-box-filters-padding{
      padding: 10px 0 22px!important;
  border-top: none !important;
}
.autoship-collection .autoship-reviews .bottom-line-items-container{
    border-top: none !important;
}
.autoship-collection .autoship-reviews .yotpo-label-container{
    border-top: none;
}
.autoship-collection .collection_description h3{
      line-height: 1.3;
}
.autoship-collection .custom_content p{
  margin: 0 0 15px;
}
.autoship-collection .custom_content .link-read-more{
      color: var(--color-base);
      margin-top: 8px;
    display: block;
}
.autoship-collection .custom_content .read-more-gradient-wrapper{
      display: block;
    width: 100%;
    padding: 80px 0 0px 0;
    position: relative;
    background: #fff;
    background: linear-gradient(0deg, #fff 20%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
    margin-top: -100px;
}
.autoship-collection .custom_content .collapse{
  display: none;
}
.autoship-collection .custom_content .collapse.show + .read-more-gradient-wrapper{
  background-image: none;
      padding: 0;
    margin: 0;
}

/**/
.autoship-collection .custom_content .custom_title {
    font-size: 28px;
    text-transform: none;
    margin-bottom: 1em;
      font-weight: var(--font-heading-weight);
}
.bully-max-autoship-benefits ul.ticks {
    padding-left: 0;
}
#collapseReadMore.collapse.show + .read-more-gradient-wrapper {
    background-image: none;
}
.cxl-circle {
    position: absolute;
    color: #fc4f02;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px #fc4f02 solid;
    left: 0;
    z-index: 1;
    font-weight: 700;
}
.cxl-steps:after {
    content: " ";
    height: 160px;
    width: 2px;
    left: 13px;
    position: absolute;
    top: 8px;
    background-color: #ec5c2a;
    z-index: 0;
}
.autoship-collection ul.ticks li {
    list-style: none;
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: normal;
    margin-bottom: 0px;
    margin-top: 0px;
    background-position: left 5px;
    background-size: 14px 13px;
}
.autoship-collection .orange-tick li {
    list-style: none;
    background-repeat: no-repeat;
    padding-left: 20px;
    line-height: normal;
    margin-bottom: 0px;
    margin-top: 0px;
    background-position: left 2px;
    background-size: 11px 10px;
}
.autoship-collection .orange-tick li, ul.ticks li {
    list-style: none;
    background-image: url(//cdn.shopify.com/s/files/1/0020/5393/1055/t/87/assets/tick-sign.svg?v=2970860…)!important;
    background-repeat: no-repeat;
}
.cxl-steps {
    position: relative;
}
.autoship-collection .custom_content .cxl-step {
    margin-bottom: 8px;
    padding-left: 50px;
    position: relative;
    height: 40px;
    align-items: center;
    display: flex;
}
.autoship-collection .pagination-wrapper {
  margin-top: 0;
}
/**/
#product-lists-autoship .add-to-cart-btn {
  position: relative;
}
#product-lists-autoship .add-to-cart-btn .icon{
      width: auto;
    position: absolute;
    right: 25px;
}
#product-lists-autoship .product-lists-list-item .image-wrapper {
    width: 100%;
      overflow: visible;
}
#product-lists-autoship .product-lists-list-item .image-wrapper img {
    max-height: 236px;
    margin: 0 auto;
    width: auto;
}
#product-lists-autoship .product-lists-list-item .image-wrapper img.includes-sample {
    padding-bottom: 16px;
}
#product-lists-autoship .product-lists-list-item .image-wrapper img.product-sample-image {
    position: absolute;
    bottom: 0;
    right: 16px;
    max-width: 40% !important;
}
#product-lists-autoship .product-title {
    font-size: 28px;
    text-transform: none;
    letter-spacing: 0.32px;
}
#product-lists-autoship .add-to-cart-btn {
    padding-top: 14px;
    padding-bottom: 14px;
      line-height: 1;
     height: 46px;
}
#product-lists-autoship .rc_popup {
    display: none !important;
}
#product-lists-autoship .rc_block,
#product-lists-autoship .rc-legacy-radio,
#product-lists-autoship .rc-radio {
    border-radius: 0;
    padding: 0;
    background-color: transparent;
}
#product-lists-autoship .rc_block + .rc_block,
#product-lists-autoship .rc_block + .rc-legacy-radio,
#product-lists-autoship .rc_block + .rc-radio,
#product-lists-autoship .rc-legacy-radio + .rc_block,
#product-lists-autoship .rc-legacy-radio + .rc-legacy-radio,
#product-lists-autoship .rc-legacy-radio + .rc-radio,
#product-lists-autoship .rc-radio + .rc_block,
#product-lists-autoship .rc-radio + .rc-legacy-radio,
#product-lists-autoship .rc-radio + .rc-radio {
    border-top: none;
}
#product-lists-autoship .rc_block.rc_block__type__options,
#product-lists-autoship .rc_widget__option__plans {
    margin-top: 1rem;
}
#product-lists-autoship .rc_label__prefix {
    color: #fc4f02;
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
}
#product-lists-autoship .rc_label__discount,
#product-lists-autoship .rc_widget__option__discount {
    color: #fc4f02;
    font-weight: 700;
}
#product-lists-autoship .rc_label__deliver_every,
#product-lists-autoship .rc_widget__option__plans__dropdown {
    padding: 8px 25px;
    width: 100%;
    border: 1px solid #c8c8c8;
    background: white;
    border-radius: 3px;
}
#product-lists-autoship .rc_label__deliver_every .rc_label__delivery,
#product-lists-autoship .rc_widget__option__plans__dropdown .rc_label__delivery {
    font-size: 14px;
    line-height: 20px;
    width: 30%;
    display: inline-block;
}
#product-lists-autoship .rc_label__deliver_every select,
#product-lists-autoship .rc_widget__option__plans__dropdown select {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border: none;
    vertical-align: baseline;
    width: 70%;
    display: inline-block;
}
#product-lists-autoship .rc_widget__option__plans {
    padding-left: 0;
}
#product-lists-autoship select.rc_widget__option__plans__dropdown {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border: none;
    vertical-align: baseline;
    border: 1px solid #c8c8c8 !important;
    display: inline-block;
}
#product-lists-autoship .rc_price,
#product-lists-autoship .rc_widget__price {
    color: #333;
    font-weight: bold;
    float: right;
}
#product-lists-autoship .form-wrapper{
      background-color: #f4f4f4;
      border-radius: 5px;
}
#product-lists-autoship .custom-select {
     display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    vertical-align: middle;
    background: #ffffff url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='&%2362;'%3E%3Cpath d='M6 0.666667L3.8642 6H2.14815L0 0.666667L1.37037 0L3 4.21333L4.58025 0L6 0.666667Z' fill='%23FC4F02'/%3E%3Cpath d='M6 0.666667L3.8642 6H2.14815L0 0.666667L1.37037 0L3 4.21333L4.58025 0L6 0.666667Z' fill='%23333333'/%3E%3C/g%3E%3C/svg%3E") no-repeat right 0.75rem center/8px 10px;
    border: 1px solid #C8C8C8;
    border-radius: 0.325rem;
    appearance: none; 
      transition: background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
#product-lists-autoship .yotpo{
      margin-bottom: 1em;
}
#product-lists-autoship .yotpo .text-m{
      margin-left: 0.5em;
}
.autoship-collection .product-form__submit.loading>*:not(.loading-overlay__spinner) {
    display: none;
}

@media (min-width: 577px) and (max-width: 800px){
  .autoship-collection .autoship-content-wrapper{
      margin-top: 80px!important;
  }
}

@media (max-width: 992px){
  .autoship-collection .collection_description h1{
      font-size: 38px;
}
      .ticks {
        padding-left: 0;
    }
      .cxl-step {
        padding-left: 35px;
        margin-bottom: 14px;
    }
}

@media (max-width: 576px){
.autoship-collection .coll_img_wrapper{
      order: 2;
      margin-top: 10px;
}
.autoship-collection .coll_img_wrapper .image_wrapper{
    max-width: 400px;
    margin: 0 auto;
}
}

@media (max-width: 768px) {
    #product-lists-autoship .rc_label__deliver_every .rc_label__delivery,
    #product-lists-autoship .rc_widget__option__plans__dropdown .rc_label__delivery {
        width: 40%;
    }
    #product-lists-autoship .rc_label__deliver_every select,
    #product-lists-autoship .rc_widget__option__plans__dropdown select {
        width: 60%;
    }
      #product-lists-autoship .product-lists-list-item .image-wrapper img.product-sample-image {
        right: -4px;
        max-width: 50% !important;
    }
      #product-lists-autoship .product-lists-list-item .image-wrapper {
        width: 50%;
        float: left;
        padding-right: 15px;
    }
}