.contact-form .contact_social_media_wrap{
  display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; 
  gap: 16px;
    flex-wrap: wrap;
    align-items: center;
}
.contact-form .contact_sidebar .contact_text_title, .contact-form .contact_sidebar .email_title, .contact-form .contact_sidebar .address_title, .contact-form .contact_sidebar .contact_social_media_title{
      font-size: 20px;
}  

@media (max-width: 992px){
  .contact-form .contact_sidebar .contact_text_contact p:not(:first-child){
        margin-top: 8px;
  }
}