.contact_info .info_text_wrapper .link_right_icon{
      color: var(--color-accent);
}
.contact_info .contact-info-content .info_1, .contact_info .contact-info-content .info_2  {
    border-bottom: 1px solid #333333;
    padding-bottom: 12px;
    margin-bottom: 12px;
}
.contact_info .contact-info-content .link_right_icon {
      margin-left: 10px;
}
.contact_info .contact_info_right_part .klaviyo-form{
      border-radius: 5px!important;
      margin-left: auto;
}

@media (max-width: 992px){
  .contact_info .contact-info-content .text__description {
    display: block;
  }
  .contact_info .contact-info-content .info_icon_wrapper svg{
        width: 32px;
  }
}

@media (max-width: 768px){
.contact_info .contact-info-content{
      max-width: 400px;
    margin: 0 auto;
}
  .contact_info .contact-info-heading {
        text-align: center;
  }
  .contact_info .contact-info-content .info_1, .contact_info .contact-info-content .info_2{
    padding-bottom: 18px;
    margin-bottom: 16px;
  }
  .contact_info .contact_info_left_part {
      order: 2;
}
  .contact_info .contact_info_right_part .klaviyo-form{
      margin: 0 auto;
}
}