.image_with_reviews .page-width{
      max-width: 1150px;
}
.image_with_reviews .image_review_slider_wrapper {
    padding: 0px 40px;
    margin-bottom: 0;
    padding-bottom: 20px;
}
.image_with_reviews .image_review_slider_wrapper .reviews_slide_inner{
      max-width: 370px;
}
.image_with_reviews .image_review_slider_wrapper .image_wrapper{
      max-width: 480px;
    margin: 0 auto;
}
.image_with_reviews .image_review_slider_wrapper .image_wrapper img{
      border-radius: 5px;
      height: auto;
}
.image_with_reviews .image_review_slider_wrapper .review_slider_wrapper{
    padding: 0;
}
.image_with_reviews .image_review_slider_wrapper .slick-arrow{
      opacity: 0.7;
}
.image_with_reviews .image_review_slider_wrapper .slick-arrow:hover{
      opacity: 1;
}

@media (max-width: 992px){
  .image_with_reviews .page-width{
     max-width: 640px;
  }
  .image_with_reviews .image_review_slider_wrapper{
    padding: 0 25px 15px;
  }
  .image_with_reviews .image_review_slider_wrapper .star-rating{
        font-size: 22px;
  }
  .text_with_reviews .slick-dots li{
        margin: 0 3px;
  }
  .image_with_reviews .slick-dots li button:before{
        width: 12px;
    height: 12px;
  }
}