.page_with_sidebar .contact_social_media_wrap{
  display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; 
  gap: 16px;
    flex-wrap: wrap;
    align-items: center;
}
.page_with_sidebar .contact_sidebar .contact_text_title, .page_with_sidebar .contact_sidebar .email_title, .page_with_sidebar .contact_sidebar .address_title, .page_with_sidebar .contact_sidebar .contact_social_media_title{
      font-size: 20px;
}  
.page_with_sidebar .contact_sidebar{
      position: sticky;
    top: 10px;
}


@media (max-width: 992px){
  .page_with_sidebar .contact_sidebar .contact_text_contact p:not(:first-child){
        margin-top: 8px;
  }
}