.product_description_tab .product_description_tablist{
      border-bottom: 1px solid #4A4A4A;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; 
      align-items: center;
}
.product_description_tab .product_description_tablist .tab{
    width: 25%;
    padding: 0 10px 5px;
    cursor: pointer;
} 
.product_description_tab .product_description_tablist .tab p{
  color: #4A4A4A;
}
.product_description_tab .tab.desc_tab_active p{
  color: #000000;
}
.product_description_tab .tab{
  position: relative;
}
.product_description_tab .tab.desc_tab_active:after{
  content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000000;
}
.product_description_tab .product_description_tab_content .tab_content:not(.desc_tab_active){
  display: none;
  transition: opacity 0.15s linear;
}
.product_description_tab .product_description_tab_content {
      margin-top: 40px;
}
.product_description_tab .tab_content .yotpo .yotpo-label-container{
      border-top: none;
  padding-top: 0;
}
.product_description_tab .tab_content iframe{
      max-width: 100%;
}
.product_description_tab .tab_content h2,
.product_description_tab .tab_content h3,
.product_description_tab .tab_content h4{
    font-weight: 700;
    text-transform: inherit;
    line-height: var(--font-body-line-height);
}
.product_description_tab .tab_content .list-check li,
.product_description_tab .tab_content .myTrusted li{
  list-style: none;
    background-image: url(//cdn.shopify.com/s/files/1/0020/5393/1055/t/87/assets/tick-sign.svg?v=2970860…);
    background-repeat: no-repeat;
    padding-left: 20px;
    line-height: inherit;
    margin-bottom: 0px;
    margin-top: 0px;
    background-position: left 50%;
    background-size: 11px 10px;
}
.product_description_tab .tab_content .list-check ul,
.product_description_tab .tab_content .myTrusted ul{
    padding-left: 0;
}

@media (max-width: 576px){
.product_description_tab .product_description_tablist .tab{
      width: 33.33%;
}
  .product_description_tab .product_description_tab_content{
        margin-top: 25px;
  }
  .product_description_tab .product_description_tablist .tab p{
        font-size: 16px;
  }
  .product_description_tab .tab_content .list-check li, 
  .product_description_tab .tab_content .myTrusted li{
        background-position: left 2px;
  }
}