.text_bar .text_bar_inner {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  justify-content: center;
}
.text_bar .text_bar_img{
      margin-right: 2rem;
}
.text_bar .text_bar_content{
      margin: 0;
}

@media (max-width: 992px){
  .text_bar .text_bar_img{
      margin-right: 1rem;
}
}